<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <location path="Auth.asmx">
      <system.web>
        <authorization>
          <allow users="*"/>
          <deny users= ""/>
        </authorization>
        <!--<customErrors mode ="On" defaultRedirect="Default.aspx"/>-->
        <webServices>
          <protocols>
            <add name="HttpGet"/>
            <add name="HttpPost"/>
          </protocols>
          <conformanceWarnings>
            <remove name='BasicProfile1_1'/>
          </conformanceWarnings>
        </webServices>

      </system.web>
    </location>
  <location path="RoomManager.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
        <deny users= ""/>
      </authorization>
      <!--<customErrors mode ="On" defaultRedirect="Default.aspx"/>-->
      <webServices>
        <protocols>
          <add name="HttpGet"/>
          <add name="HttpPost"/>
        </protocols>
        <conformanceWarnings>
          <remove name='BasicProfile1_1'/>
        </conformanceWarnings>
      </webServices>

    </system.web>
  </location>
    <connectionStrings>
      <add name="StudyMateConnectionString" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=STMEMBERSHIP;Integrated Security=True" providerName = "System.Data.SqlClient" />
    </connectionStrings>
  
    <system.web>
      <authorization>
        <allow users="*"/>
        <deny users="?"/>
      </authorization>
      <webServices>
        <protocols>
          <add name="HttpGet"/>
          <add name="HttpPost"/>
        </protocols>
        <conformanceWarnings>
          <remove name='BasicProfile1_1'/>
        </conformanceWarnings>
      </webServices>
      <compilation debug="true" targetFramework="4.0" />

      <membership defaultProvider="StudyMateMembershipProvider" >
        <providers>
          <clear />
          <add
            name="StudyMateMembershipProvider"
            type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="StudyMateConnectionString"
            applicationName = "/STMate"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="false"
            requiresUniqueEmail="false"
            passwordFormat="Hashed" />
        </providers>
      </membership>
      
    </system.web>
  
</configuration>
