<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <location path="Auth.asmx">
      <system.web>
        <authorization>
          <deny users="test" />
          <allow users="*" />
        </authorization>
        <customErrors mode="Off"  defaultRedirect="Default.aspx"/>
        <webServices>
          <protocols>
            <add name="HttpGet" />
            <add name="HttpPost" />
          </protocols>
          <conformanceWarnings>
            <remove name="BasicProfile1_1" />
          </conformanceWarnings>
        </webServices>

      </system.web>
    </location>
  <location path="RoomManager.asmx">
    <system.web>
      <authorization>
        <deny users="test" />
        <allow users="*" />     
      </authorization>
      <customErrors mode="Off"  defaultRedirect="Default.aspx"/>
      <webServices>
        <protocols>
          <add name="HttpGet" />
          <add name="HttpPost" />
        </protocols>
        <conformanceWarnings>
          <remove name="BasicProfile1_1" />
        </conformanceWarnings>
      </webServices>

    </system.web>
  </location>
    <connectionStrings>
      <!--<add name="StudyMateConnectionString" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=STMEMBERSHIP;Integrated Security=True" providerName="System.Data.SqlClient" />-->
      <add name="StudyMateConnectionString" connectionString="Data Source=db.studyheyo.co.kr;Initial Catalog=dbstudyheyo;Integrated Security=False;User ID=studyheyo;Password=clsrnemf123" providerName="System.Data.SqlClient" />
 
    </connectionStrings>
  
    <system.web>
      <authorization>
        <deny users="test" />
        <allow users="*" />
      </authorization>
      <customErrors mode="Off"  defaultRedirect="Default.aspx"/>
      <webServices>
        <protocols>
          <add name="HttpGet" />
          <add name="HttpPost" />
        </protocols>
        <conformanceWarnings>
          <remove name="BasicProfile1_1" />
        </conformanceWarnings>
      </webServices>
      <compilation debug="true" targetFramework="4.0" />
      
      <membership defaultProvider="StudyMateMembershipProvider">
        <providers>
          <clear />
          <add name="StudyMateMembershipProvider" type="System.Web.Security.SqlMembershipProvider"
               connectionStringName="StudyMateConnectionString"
               applicationName="/STMate"
               enablePasswordRetrieval="false"
               enablePasswordReset="true"
               requiresQuestionAndAnswer="false"
               requiresUniqueEmail="false"
               passwordFormat="Hashed"
               minRequiredPasswordLength="4"
               minRequiredNonalphanumericCharacters="0" />
        </providers>
      </membership>
      
      <profile defaultProvider="SMProfileProvider">
        <providers>
          <clear />
          <add name="SMProfileProvider"
            type="System.Web.Profile.SqlProfileProvider"
            connectionStringName="StudyMateConnectionString"
            applicationName="/STMate"
            description="SqlProfileProvider for Studymate" />
        </providers>
        <properties>
          <add name="Gender" type="System.Byte"/>
          <add name="BirthYear" type="System.DateTime" serializeAs="String" />
          <add name="NickName" type="System.String"/>
          <add name="DeviceToken" type="System.String"/>
          <add name="ImageUrl" type="System.String"/>
        </properties>
      </profile>
    
    </system.web>
    <system.serviceModel>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true">
        <!--<baseAddressPrefixFilters>
          <add prefix="http://www.studyheyo.co.kr/Service"/>
        </baseAddressPrefixFilters>-->
      </serviceHostingEnvironment>
      
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IRoom" closeTimeout="00:01:00"
                openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                useDefaultWebProxy="true">
                      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                          maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                      <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
             </security>
          </binding>
          <binding name="BasicHttpBinding_IRoomLocal" closeTimeout="00:01:00"
                openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                  realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
        </basicHttpBinding>
        <webHttpBinding>
          <binding name="Restfull_Binding" closeTimeout="00:01:00"
                openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                 transferMode="Buffered"
                useDefaultWebProxy="true">
                      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                  realm="" />
            </security>
          </binding>
        </webHttpBinding>
      </bindings>
      <services>
        <service name="RoomService.RoomWCFService"
                behaviorConfiguration="RoomService">
          <host>
            <baseAddresses>
              <add baseAddress="http://www.studyheyo.co.kr/Design_Time_Addresses/RoomService/RoomWCFService/"/>
            </baseAddresses>
          </host>
          
          <endpoint contract="RoomService.IRoom"
                    address=""
                    binding="basicHttpBinding"
                    bindingConfiguration="BasicHttpBinding_IRoom" >
            <identity>
              <dns value="studyheyo.co.kr" />
            </identity>
            
          </endpoint>
          <!-- Metadata Endpoints -->
          <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
          <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
          </service>
          <service name="LocalRoomService.RoomWCFService"
                 behaviorConfiguration="RoomService">
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost/RoomService/RoomWCFService/"/>
              </baseAddresses>
            </host>

            <endpoint contract="RoomService.IRoom"
                      address=""
                      binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_IRoomLocal" >
              <identity>
                <dns value="localhost" />
              </identity>

            </endpoint>
            <!-- Metadata Endpoints -->
            <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
            <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
          </service>
          <service name="RoomService.RoomDb" >
            <host>
              <baseAddresses>
                <add baseAddress="http://www.studyheyo.co.kr/RoomManager"/>
              </baseAddresses>
            </host>
            <endpoint contract="RoomService.IRoomDb"
                      address=""
                      binding="webHttpBinding"
                      bindingConfiguration="Restfull_Binding" >
                      <!--binding="webHttpBinding"-->
                      <!--behaviorConfiguration="RoomServiceRest" >-->
              <identity>
                <dns value="studyheyo.co.kr" />
              </identity>
            </endpoint>
          </service>
         </services>
      
      <behaviors>
        <endpointBehaviors>
          <behavior name="RoomServiceRest">
            <webHttp helpEnabled="true"/>
          </behavior>
        </endpointBehaviors>  
        <serviceBehaviors>
          <behavior name="RoomService">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
          </behavior>
          <behavior name="Service1">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
          <behavior name="">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <client>
        <endpoint address="http://www.studyheyo.co.kr/Service/RoomService.RoomWCFService.svc"
           binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoom"
           contract="IRoom" name="BasicHttpBinding_IRoom" />
        <endpoint address="http://www.studyheyo.co.kr/Service"
           binding="webHttpBinding" bindingConfiguration="Restfull_Binding"
           contract="IRoom" name="IRoomDb_Binding" />
        <endpoint address="http://localhost/Service/RoomService.RoomWCFService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomLocal"
          contract="IRoom" name="BasicHttpBinding_IRoomLocal" />
      </client>
      <diagnostics>
        <messageLogging logEntireMessage="true"
                            logMalformedMessages="true"
                            logMessagesAtServiceLevel="true"
                            logMessagesAtTransportLevel="true"
                            maxMessagesToLog="1000"
                            maxSizeOfMessageToLog="524288"/>
      </diagnostics>
    </system.serviceModel>

  <system.diagnostics>
    <sources>
      <!--<source name="System.ServiceModel" switchValue="Error, ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>-->
      <source name="System.ServiceModel.MessageLogging" switchValue="Error, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="TraceSourceSTmate" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="OutputListener" >
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    
    <sharedListeners>
      <add initializeData="stmate_tracelog.svclog"
           type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="stmate_messages.svclog"
           type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="testlog.log"
            type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            name="OutputListener" traceOutputOptions="DateTime" >
        <filter type="" />
      </add>
    </sharedListeners>
       
  </system.diagnostics>

</configuration>
