<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RoomService.Properties.Settings.dbstudyheyoConnectionString"
            connectionString="Data Source=db.studyheyo.co.kr;Initial Catalog=dbstudyheyo;User ID=studyheyo;Password=clsrnemf123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>