<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RoomService.Properties.Settings.dbstudyheyoConnectionString"
            connectionString="Data Source=db.studyheyo.co.kr;Initial Catalog=dbstudyheyo;User ID=studyheyo;Password=clsrnemf123"
            providerName="System.Data.SqlClient" />
        <add name="RoomService.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=db.studyheyo.co.kr;Persist Security Info=True;User ID=studyheyo;Password=clsrnemf123"
            providerName="System.Data.SqlClient" />
        <add name="RoomService.Properties.Settings.dbstudyheyoConnectionString1"
            connectionString="Data Source=db.studyheyo.co.kr;Initial Catalog=dbstudyheyo;Persist Security Info=True;User ID=studyheyo;Password=clsrnemf123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <membership defaultProvider="StudyMateMembershipProvider">
      <providers>
        <clear />
        <add name="StudyMateMembershipProvider" type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="RoomService.Properties.Settings.dbstudyheyoConnectionString"
             applicationName="/STMate"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             minRequiredPasswordLength="4"
             minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>

    <profile defaultProvider="SMProfileProvider">
      <providers>
        <clear />
        <add name="SMProfileProvider"
          type="System.Web.Profile.SqlProfileProvider"
          connectionStringName="StudyMateConnectionString"
          applicationName="/STMate"
          description="SqlProfileProvider for Studymate" />
      </providers>
      <properties>
        <add name="Gender" type="System.Byte"/>
        <add name="BirthYear" type="System.DateTime" serializeAs ="Sysetm.String"/>
        <add name="NickName" type="System.String"/>
        <add name="DeviceToken" type="System.String"/>
      </properties>
    </profile>
</configuration>